.vertical-center{
    min-height: 500px;
    margin: 0;
    display: flex;
    align-items: center;
}
.glyphicon.glyphicon-home{
    font-size: 25px;
    padding-right: 490px; ;
}
.well{
    overflow-wrap: break-word;
}


